<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">New message</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
						<label for="nome">Nome</label>
						<input type="text" class="form-control " id="nome"  th:field="*{nome}">
						
					</div>
					<div class="mb-3">
						<label for="sobrenome">Sobre Nome</label>
						<input type="text" class="form-control" id="sobrenome" th:field="*{sobrenome}">
					</div>
					<div class="mb-3">
						<label for="endereco" class="form-label">Endereço</label>
						<input type="text" class="form-control" id="endereco" placeholder="Digite seu endereço" th:field="*{endereco}">
					</div>
					<div class="mb-3">
						<label for="telefone" class="form-label">Telefone</label>
						<input type="text" class="form-control" id="telefone" placeholder="(xx) xxxxx-xxxx" th:field="*{telefone}">
					</div>
					<div class="mb-3">
						<label for="cpf" class="form-label">CPF</label>
						<input type="text" class="form-control" id="cpf" placeholder="000.000.000-00" th:field="*{cpf}">
					</div>
					<div class="mb-3">
						<label for="descricao" class="form-label">Descrição</label>
						<input type="text" class="form-control" id="descricao" th:field="*{descricao}">
					</div>
					<div class="mb-3">
						<button type="submit" class="btn">
							<i class="fa-solid fa-square-plus fa-2xl" style="color: #9c2ac6;"></i>
						</button>
					</div>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">Recipient:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">Message:</label>
							<textarea class="form-control" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send message</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>